.hero-image{
    background-image: url("./pics/burn.png") ;
    height: 500px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
body{
    background-color: darkgreen;
    border-color: chartreuse;
    border-style: ridge;
    border-width: 20px;
}

h1{
    
}